<template>
  <div :class="{ todo: true, done: todo.isDone }">
    <!--CHECKBOX-->
    <input
      type="checkbox"
      @click="toggleDone(todo)"
      v-model="todo.isDone"
      class="checkbox h-6 w-6"
      :id="`check${index}`"
    />
    <label
      :for="`check${index}`"
      class="border rounded-full h-6 w-6 inline-block mr-2 border-gray-700 flex-shrink-0"
    >
      <svg viewBox="0,0,50,50" class="text-gray-700">
        <path d="M5 30 L 20 45 L 45 5"></path>
      </svg>
    </label>
    <!--TEXT-->
    <p class="text-gray-700 whitespace-pre-wrap inline-block break-all mr-1">
      {{ todo.text }}
    </p>
    <!--REMOVE-->
    <span class="todo__remove" @click="removeTodo(todo)">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 13">
        <polyline
          class="arrow"
          fill="none"
          stroke="currentColor"
          points="1 1,6.5 6.5,12 1"
        />
        <polyline
          class="arrow"
          fill="none"
          stroke="currentColor"
          points="1 12,6.5 6.5,12 12"
        />
      </svg>
    </span>
  </div>
</template>

<script>
import { TODO_DELETE, TODO_TOGGLE_DONE } from "../store";

export default {
  name: "ToDo",
  props: ["todo", "index"],
  methods: {
    toggleDone(todo) {
      this.$store.commit(TODO_TOGGLE_DONE, todo);
    },
    removeTodo(todo) {
      this.$store.commit(TODO_DELETE, todo);
    }
  }
};
</script>

<style scoped>
/*CUSTOM CHECKBOX*/
input {
  opacity: 0;
  position: absolute;
}
input:checked + label svg path {
  stroke-dashoffset: 0;
  /*transform: scale(0.8);*/
}

input + label {
  transition: all 0.2s ease;
  cursor: pointer;
}

input + label svg {
  pointer-events: none;
  transform: scale(0.8, 0.8);
}
input + label svg path {
  fill: none;
  stroke: #4a5568;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 100;
  stroke-dashoffset: 101;
  transition: all 350ms cubic-bezier(1, 0, 0.37, 0.91);
}

.todo {
  @apply py-2 flex items-center px-2 text-xl border-b;
  transition: opacity 350ms;
}

.done {
  opacity: 0.6;
}
.done > p {
  text-decoration: line-through;
}

.todo:hover > .todo__remove {
  opacity: 1;
}

.todo__remove {
  @apply text-gray-700 inline-block h-6 w-6 ml-auto flex-shrink-0;
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 350ms;
}
</style>
