<template>
  <div id="app" class="flex justify-center items-center">
    <div class="background"></div>
    <div class="max-w-lg rounded overflow-hidden shadow-lg bg-white flex-1">
      <img
        alt="Vue logo"
        src="./assets/logo.png"
        class="mx-auto bg-transparent my-4"
      />
      <input
        type="text"
        name="todo_input"
        placeholder="What are you need to do?"
        v-model="todo_input"
        @keyup.enter="createTodo"
        class="border px-3 py-2 w-full text-xl"
      />

      <div class="h-30r overflow-y-auto scrollable overflow-x-hidden">
        <ToDo
          v-for="(todo, index) in todo_list"
          :todo="todo"
          :key="index"
          :index="index"
        ></ToDo>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import {TODO_CREATE} from "./store";
import ToDo from "./components/ToDo";

export default {
  name: "app",
  data() {
    return {
      todo_input: null
    };
  },
  computed: {
    ...mapState(["todo_list"])
  },
  methods: {
    createTodo() {
      if (this.todo_input) {
        this.$store.commit(TODO_CREATE, this.todo_input);
        this.todo_input = null;
      }
    }
  },
  components: { ToDo }
};
</script>

<style>
@tailwind base;

@tailwind components;

@tailwind utilities;

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(-360deg);
  }
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply m-0;
  @apply h-screen;
  @apply w-screen;

}

.background {
  @apply h-screen w-screen absolute;
  z-index: -1;
  background-image: linear-gradient(45deg, #f35626 0%, #feab3a 100%);
  animation: hue 60s infinite linear;
}

.h-30r {
  height: 30rem;
}

/* for custom scrollbar for webkit browser*/

.scrollable::-webkit-scrollbar {
  width: 6px;
}
.scrollable::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.scrollable::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
</style>
